[submodule "CSCI_4730/csx730-list"]
	path = CSCI_4730/csx730-list
	url = git@github.com:dsluo/csx730-list
[submodule "CSCI_4250/proj1"]
	path = CSCI_4250/proj1
	url = git@github.com:dsluo/csci4250-hw1.git
[submodule "CSCI_4250/hw1"]
	path = CSCI_4250/hw1
	url = git@github.com:dsluo/csci4250-pj1.git

